.products {
  padding: 0px 50px;
  display: flex;
  margin-top: -87px;
  background-color: #f7f7f7;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 150px;
    margin: 130px 0px;

    .filterItem {
      margin-bottom: 30px;
      text-transform: capitalize;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
        }
      }
    }
  }

  .right {
    flex: 3;
    margin-top: 150px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1220px) {
  .products {
    .right {
      flex: 2;
    }
  }
}

@media (max-width: 940px) {
  .products {
    .right {
      flex: 1;
    }
  }
}

@media (max-width: 660px) {
  .products {
    padding: 0px 25px;
  }
}

@media (max-width: 575px) {
  .products {
    padding: 0px 15px;
  }
}

@media (max-width: 525px) {
  .products {
    .left {
      padding-right: 0px;

      .filterItem {
        h2 {
          font-size: 20px;
        }

        .inputItem {
          label {
            font-size: 14px;
          }
        }
      }
    }

    .right {
      overflow: hidden;
      .list {
        .link {
          .card {
            .image {
              width: 80%;
              height: 300px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .products {
    .left {
      padding-right: 0px;
    }

    .right {
      overflow: hidden;
      .list {
        .link {
          .card {
            .image {
              width: 60%;
              height: 300px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .products {
    padding: 0px 0px 0px 5px;
    .left {
      padding-right: 0px;
    }

    .right {
      overflow: hidden;
      .list {
        .link {
          .card {
            .image {
              width: 54%;
              height: 300px;
            }
          }
        }
      }
    }
  }
}
